@model IEnumerable<Lab04_ed_2022.Models.PacienteModel>

@{
    ViewData["Title"] = "Sala de emergencias";
}

<div class="font-weight-bold">
    <h1 class="text-center">Sala de Emergencias</h1>
</div>


@*<td>
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
</td>*@

<p>
    <a asp-action="Create">Ingresar nuevo paciente</a>
</p>

<button type="button" onclick="location.href='@Url.Action("Create","Paciente")'">Atender</button><br />

<table class="table">
    <thead>
        <tr>
            <th>
                <p class="font-weight-bold">ID</p>
            </th>
            <th>
                <p class="font-weight-bold">Nombres</p>
            </th>
            <th>
                <p class="font-weight-bold">Apellidos</p>
            </th>
            <th>
                <p class="font-weight-bold">Fecha de Nacimiento</p>
            </th>
            <th>
                <p class="font-weight-bold">Sexo</p>
            </th>
            <th>
                <p class="font-weight-bold">Especialización</p>
            </th>
            <th>
                <p class="font-weight-bold">Método de Ingreso</p>
            </th>
            <th>
                <p class="font-weight-bold">Hora de Ingreso</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeNacimiento.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especializacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraIngreso)
                </td>
            </tr>
        }
    </tbody>
</table>
