@model IEnumerable<Lab04_ed_2022.Models.PacienteModel>

@{
    ViewData["Title"] = "Index";
}

<div class="font-weight-bold">
    <h1 class="text-center">Sala de Emergencias</h1>
</div>

<p>
    <a asp-action="Create"> Ingresar nuevo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especializacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especializacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraIngreso)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
